<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reklamos projektai</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ base_url() }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ base_url() }}/css/scrolling-nav.css" rel="stylesheet">
    <link href="{{ base_url() }}/vendor/bootstrap/css/pikaday.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Reklamos projektai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/login">Prisijungti</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/iseiti">Atsijungti</a>
                </li>

                <li class="nav-item dropdown" id="navbar-virsutin-titles2-turi-items-li">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">
                        Reklamos užsakymai&nbsp;</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item js-scroll-trigger" id="navbar-virsutin-titles4-items1-a" href="/contracts">Visi užsakymai</a>
                        <a class="dropdown-item js-scroll-trigger" id="navbar-virsutin-titles4-items2-a" href="/create-contract">Užsakyti reklamą</a>
                    </div>
                </li>

                <li class="nav-item dropdown" id="navbar-virsutin-titles2-turi-items-li">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">
                        Reklamos medžiaga&nbsp;</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item js-scroll-trigger" id="navbar-virsutin-titles4-items1-a" href="/materials">Visos medžiagos</a>
                        <a class="dropdown-item js-scroll-trigger" id="navbar-virsutin-titles4-items2-a" href="/create-material">Sukurti reklamos medžiagą</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>