{{ include("header.twig") }}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Įėjimo puslapis</h1>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Įėjimas</h2>
                <br>

                {% if loginFailedMessage is not empty %}
                    <div class="alert alert-danger" role="alert">
                        {{ loginFailedMessage }}
                    </div>
                {% endif %}

                <form method="post" action="/authenticateUser">
                    <div class="form-group">
                        <label for="name">Paskyros vardas</label>
                        <input name="name" type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Iveskite varda">
                        <small id="nameHelp" class="form-text text-muted">Įveskite DBVS vardą</small>
                    </div>
                    <div class="form-group">
                        <label for="slaptazodis">Slaptažodis</label>
                        <input name="slaptazodis" type="password" class="form-control" id="inputPassword" placeholder="Iveskite slaptazodi">
                    </div>
                    <button type="submit" class="btn btn-primary">Jungtis</button>
                </form>
            </div>
        </div>
    </div>
</section>

{{ include("footer.twig") }}